
<template>
    <div id="app">
    
    
        <div class="main">
        <div class="container pt-1">
          <div class="row mt-2 ml-5">
            <div class="col-11 col-sm-11 col-md-11 col-lg-11"><br>
              <div class="row justify-content-start ml-5 mb-3">
                <button data-toggle="modal" data-target="#addModal" v-on:click="showAddModal" class="btn btn-info ">Add
                  Book</button>
              </div>
              <div class="card ml-5">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Author</th>
                        <th scope="col">Copies</th>
                        <th scope="col">Category</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(book, i) in books" :key="i">
                        <td>{{book.name}}</td>
                        <td>{{book.author}}</td>
                        <td>{{book.copies}}</td>
                        <td>{{book.category.category}}</td>
                        <td>
                          <a type="button" data-toggle="modal" data-target="#editModal" v-on:click="showEditModal(i)"><img src="@/assets/images/edit.png" class="mr-2" height="35"></a>
                            <a type="button" data-toggle="modal" data-target="#deleteModal" v-on:click="showDeleteModal(i)"><img src="@/assets/images/delete.png" class="mr-2" height="35"></a>
                            <a type="button" data-toggle="modal"
                            data-target="#barrow"><img src="@/assets/images/borrow.png" class="mr-2" height="35"></a>
                            <a type="button" data-toggle="modal"
                            data-target="#barrow"><img src="@/assets/images/return.png" class="mr-2" height="35"></a>
                        </td>
                      </tr>    
                    </tbody>
                  </table>
                </div>
                <nav aria-label="Page navigation example" class="mt-3"></nav>
                  <ul class="pagination pagination-sm justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">«</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">»</a>
                    </li>
                  </ul>
                
              </div>
    
            </div>
          </div>
        </div>

        <div id="addModal" class="modal show" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Books</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body pl-5 pr-5">
              <form>
                <div class="form-group">
                  <input type="text" v-model="input.name" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.author" class="form-control" id="author" placeholder="Author">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.copies" class="form-control" id="copies" placeholder="Copies">
                </div>
                <select id="customSelect" v-model="input.category_id" name="cars" class="custom-select">
                    <option selected disabled>Please select a category</option>
                    <option v-for="(categ, i) in categories" :key="i" :value="categ.id">{{categ.category}}</option>
                </select>
              </form>
            </div>
            <div class="modal-footer">
                <div class="row justify-content-left mr-1 mb-3">
              <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" v-on:click="addBook">Save</button>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div id="editModal" class="modal show" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Book</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body pl-5 pr-5">
              <form>
                <div class="form-group">
                  <input type="text" v-model="input.name" class="form-control" id="name" placeholder="Name">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.author" class="form-control" id="author" placeholder="Author">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.copies" class="form-control" id="copies" placeholder="Copies">
                </div>
                <select id="customSelect" v-model="input.category_id" name="cars" class="custom-select">
                   <option selected disabled>Please select a category</option>
                  <option v-for="(categ, i) in categories" :key="i" :value="categ.id">{{categ.category}}</option>
                 </select>
              </form>
            </div>
            <div class="modal-footer">
                <div class="row justify-content-left mr-1 mb-3">
              <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" v-on:click="bookUpdate">Save</button>
            </div>
            </div>
          </div>
        </div>
      </div>
    
      <div id="deleteModal" class="modal show" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title"> Warning </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this?</p>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-sm btn-secondary">Cancel</button>
              <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" v-on:click="bookDelete"> Yes </button>
            </div>
          </div>
        </div>
      </div>
    </div>
   
</template>>

<script>

import { mapState, mapActions, mapGetters} from 'vuex';
import {toast} from '@/assets/js/toast/toast'
export default {
    mixins: [toast],
    name: "App",
    
  data(){
    return {
      editBook: {},
      input: {
          name: "",
          author: "",
          copies: "",
          category_id: "",
      },
      deleteIndex: "",
      editIndex: "",
    };
  },
  computed: {
    ...mapState("books", ["books", "categories"]),
    ...mapState("patrons", ["patrons"])
  },
  methods: {
    ...mapActions('books', ['getBooks', "deleteBook", "storeBook", "updateBook", "getCategories"]),
    ...mapActions("patrons", ["getPatrons"]),
    ...mapActions("borrowed", ["createBorrowed"]),
    ...mapActions("returned", ["createReturned"]),
    ...mapGetters("books", ["getBooksData"]),
    showError(data){
      for (const key of Object.keys(data.errors)) {
        this.showErrorToast(data.errors[key][0])
      }
    },
    showAddModal() {
      this.$bvModal.show("addModal");
    },
    showDeleteModal(i) {
      this.deleteIndex = i;
      this.$bvModal.show("deleteModal");
    },
    showEditModal(books, i) {
      this.editIndex = i;
      this.input = {...books}
      this.$bvModal.show("editModal");
    },
    deleteBook() {
      this.$delete(this.books, this.deleteIndex);
      this.$bvModal.hide("deleteModal");
    },
    async addBook(){
        const res = await this.storeBook({...this.input})
      if(res.status == 200){
        this.$bvModal.hide(this.modalId);
        this.showSuccessToast('Book saved successfully!')
      }
      else{
        this.showError(res.data)
      }
    },
    async bookUpdate(){
      const res = await this.updateBook({index: this.editIndex, data: this.input})
      if(res.status == 200){
        this.showSuccessToast('Book updated successfully!')
        this.$bvModal.hide('editmodal')
      }
    },
    async bookDelete(){
      const res = await this.deleteBook(this.id);
      if(res.status !== 200)
       this.showError(res.data)
       
      this.$bvModal.hide('deleteModal');
    },
  },
  mounted() {
      this.getCategories();
      this.getBooks();
  },
  };
</script>
<style>
@import "../../../assets/css/style.css";
</style>
