<template>
<div class="wrapper">
<div class="main_content">
            <div class="header header-color">Search:
              <input type="text" id="fname" name="fname">
              <div class="user-container">
                <div class="d-flex align-items-center">
                  <a href="" class="link-custom">LOG-OUT</a>
                  <img src="@/assets/images/logout.png" height="30" class="mt-2 mr-1">
                  
                </div>
          </div>
            </div>  
</div>   
</div>
</template>