<template>
<div class="wrapper">
     <div class="sidebar" id="app">
       <link href="https://fonts.googleapis.com/css2?family=Red Rose&display=swap" rel="stylesheet">
          
          <img src="@/assets/images/LOGOSSS.png" height="60" class="ml-5 mt-1">
          <br>
        <br>
       
            <ul>
              
              
                 
                <router-link to="/" :class="getRoute == '/'? 'active' : ''">
                <img src="@/assets/images/patron.png" height="50" class="ml-2 mt-4 position-absolute">
                <li><a href="index.html" class="">Dashboard</a></li>
                </router-link>
               
                <router-link to="/patron" :class="getRoute == '/patron'? 'active' : ''">
                <img src="@/assets/images/patron.png" height="50" class="ml-2 mt-4 position-absolute">
                <li><a href="patron.html"><i class=""></i>Patron<br>Managment</a></li>
                </router-link>
                
                <div>
               <router-link to="/books" :class="getRoute == '/books'? 'active ' : ''">
                <img src="@/assets/images/book.png" height="50" class="ml-2 mt-4 position-absolute">
                <li><a href="book.html"><i class=""></i>Books<br>Management</a></li>
                </router-link>
                  </div>
                  <div>
                
                <img src="@/assets/images/setting.png" height="50" class="ml-2 mt-4 position-absolute">
                <li><a href="#Setting"><i class=""></i>Setting</a></li>
                
                  </div>
            </ul> 
        </div>
</div>

</template>

<script>
export default {
 
  data() {
    return {
      data: ''
    }
  },
  mounted() {
    
  },
methods: {
  },
  computed: {
    getRoute: function(){
      return this.$route.path
  }
 }
 };
</script>
