<template>
 <div id="app">
    <div class="">
        <div class="container pt-1">
          <div class="row mt-2 ml-5">
            <div class="col-11 col-sm-11 col-md-1 col-lg-11"><br>
              <div class="row justify-content-start ml-5 mb-3">

                <button 
                
                data-toggle="modal" data-target="#addModal" class="btn btn-info ">Add
                  Patron</button>
              </div>
              <div class="card ml-5">
                  <table class="table table-hover">
                    <thead>
                      <tr >
                        <th scope="col">Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Date Registered</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(patron, i) in patrons" :key="i">
                        <td> {{patron.first_name + " " + patron.middle_name + " " +  patron.last_name + " "}} </td>
                        <td>{{ patron.email }}</td>
                        <td>{{ patron.date }}</td>
                        <td>
                          <a type="button" data-toggle="modal" data-target="#editModal" @click="showEditModal(patron, i)"><img src="@/assets/images/edit.png" class="mr-2" height="35"></a>
                        <a type="button" data-toggle="modal" data-target="#deleteModal" @click="showDeleteModal(patron.id)"><img src="@/assets/images/delete.png" class="mr-2" height="35"></a>
                        </td>
                      </tr>
                      
                     
                    </tbody>
                  </table>
                </div>
                <nav aria-label="Page navigation example" class="mt-3"></nav>
                  <ul class="pagination pagination-sm justify-content-center">
                    <li class="page-item disabled">
                      <a class="page-link" href="#" tabindex="-1">«</a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item">
                      <a class="page-link" href="#">»</a>
                    </li>
                  </ul>
              </div>
    
            </div>
          </div>
        </div>
        <div id="addModal" class="modal show" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Add Patron</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body pl-5 pr-5">
              <form>
                <div class="form-group">
                  <input type="text" v-model="input.first_name" class="form-control" id="firstname" placeholder="First Name">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.middle_name" class="form-control" id="middlename" placeholder="Middle Name">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.last_name" class="form-control" id="lastname" placeholder="Last Name">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.email" class="form-control" id="email" placeholder="Email Adress">
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <div class="row justify-content-left mr-1 mb-3">
              <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" v-on:click="AddPatron">Save</button>
            </div>
            </div>
          </div>
        </div>
      </div>
    
      <div id="editModal" class="modal show" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Patron</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body pl-5 pr-5">
              <form>
                <div class="form-group">
                  <input type="text" v-model="input.first_name" class="form-control" id="firstname" placeholder="First Name">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.middle_name" class="form-control" id="middlename" placeholder="Middle Name">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.last_name" class="form-control" id="lastname" placeholder="Last Name">
                </div>
                <div class="form-group">
                  <input type="text" v-model="input.email" class="form-control" id="email" placeholder="Email Adress">
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <div class="row justify-content-left mr-1 mb-3">
              <button type="button" class="btn btn-sm btn-primary" data-dismiss="modal" v-on:click="patronUpdate">Save</button>
            </div>
            </div>
          </div>
        </div>
      </div>

      <div id="deleteModal" class="modal show" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Warning</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Are you sure you want to delete this?</p>
            </div>
            <div class="modal-footer">
              <button type="button" data-dismiss="modal" class="btn btn-sm btn-secondary">Cancel</button>
              <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" v-on:click="patronDelete"> Yes </button>
            </div>
          </div>
        </div>
      </div>
 </div>

</template>
<script>
import { mapState, mapActions, mapGetters} from 'vuex';
import {toast} from '@/assets/js/toast/toast'
export default {
    mixins: [toast],
    data(){ 
        return { 
            index: '',
            input: {
                first_name: "",
                middle_name: "",
                last_name: "",
                email: "",
            },
        }
    },
     
  methods: {
    ...mapActions('patrons', ['getPatrons', 'storePatron', 'deletePatron', 'updatePatron']),
    ...mapGetters('patrons', ['getPatronData']),
    showEditModal(patron, index){
        this.input = {...patron}
        this.index = index
        this.$bvModal.show("editModal")
    },
        showDeleteModal(i) {
            this.index = i;
            this.$bvModal.show("deleteModal");
        },
        async AddPatron(){
            const res = await this.storePatron(this.input)
            if(res.status == 200){
            this.$bvModal.hide('addModal');
            this.showSuccessToast('Patron saved successfully!')
         }
        else {    
            this.showError(res.data)
        }
        },
        async patronDelete() {
            const res = await this.deletePatron(this.index)
            if(res.status == 200){
            this.$bvModal.hide('deleteModal')
        }
      else {
        this.showError(res.data)
      }
    },
    async patronUpdate(){
      const res = await this.updatePatron({data: this.input, index: this.index})
      if(res.status == 200){
        this.$bvModal.hide('editModal')
         this.showSuccessToast('Patron updated successfully!')
      }
      else {
        this.showError(res.data)
      }
    },
    clearFields() {
      this.input.first_name = "";
      this.input.middle_name = "";
      this.input.last_name = "";
      this.input.email = "";
    },
    showError(data){
      for (const key of Object.keys(data.errors)) {
        this.showErrorToast(data.errors[key][0]); 
      }
    }
  },
  computed:{
      ...mapState('patrons',['patrons'])
  },
  mounted() {
      this.getPatrons()
  }
};
</script>
<style>
@import "../../../assets/css/style.css";
</style>