
*{
    margin: 0;
    padding: 0;
    box-sizing: 100%;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  body{
     background-color: #f3f5f9;
  
  }
  
  .wrapper .sidebar{
    width: 220px;
    height: 100%;
    background: #1DBA9B;
    padding: 30px 0px;
    position: fixed;
   
  }
  .wrapper .sidebar :hover{
    text-decoration: none;
  }
  
  .wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .wrapper .sidebar ul li{
    padding: 25px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 0px solid rgba(0,0,0,0.05);
    border-top: 2px solid rgba(0, 0, 0, 0.096);
  }    
  
  .wrapper .sidebar ul li a{
    text-align: center;
    text-decoration: none;
    font-size: 1.0rem;
    color: #ffffff;
    display: block;
    font-family: 'Red Rose';
    font-weight: 400;
    transition: all 250ms;
  }

  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
    text-decoration: none;
    background-color: #d8d8d8cc;
    text-decoration: none;
    
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
    text-decoration:none;
  
  }
  
  .wrapper .main_content{
    width: 100%;
    margin-left: 220px;
  }
  
  .wrapper .main_content .header{
    padding: 20px;
    width: 400;
    background: rgb(58, 55, 55);
    color: #fff;
    border-bottom: 5px solid #b1b1b1;
  }

.user-container {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 4.2rem;
  margin-top: 1.1rem;
  display: inline-block;
}
.link-custom {
    color: #ffffff;

}
  .wrapper .main_content .info{
    margin: 20px;
    color: #717171;
    line-height: 25px;
  }
  
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  
  
  }
  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -auto;
    margin-left: 50px;
    
  }
  .dropdown-menu>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 500;
    line-height: 1.42857143;
    color: #000000;
    white-space: nowrap;
}
.btn-default {
  color: #ffffff;
  background-color: rgb(185, 185, 185);
  border-color: #ccc;
}
.btn-cat{
  display: inline-block;
  margin-bottom: 0;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 8px 165px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;

}  
.chart {
  text-align: center;
  
}

h1 {
  text-align: left;
  margin-bottom: 50px;
}
  .info {
    margin-right: 24px;
    padding: 0px 10px;
    margin-top: 6rem;
}

  @media (max-height: 500px){
    .social_media{
      display: none !important;
    }
  }
